---
layout: page
title: Usa Analizza Modifica Condividi
---

<h1 class="mb-3">{{ page.title }}</h1>

<p>Queste sono le quattro libertà fondamentali che caratterizzano il software distribuito con una licenza libera. Conosci i tuoi diritti, scopri cosa puoi fare con il software libero (e cosa non puoi fare con il software non libero), e giudica quale ti conviene!</p>

<figure class="float-right text-center">
    <img src="/assets/images/logo_sl.png" alt="Logo Software Libero">
    <figcaption><a href="logo_software_libero.svg">Scarica il logo del Software Libero in SVG</a></figcaption>
</figure>

<p><strong>Usa</strong> il software come e quando vuoi, per qualsiasi finalità. Questo diritto implica la possibilità di vendere il software libero altrove acquisito ed eventualmente modificato e personalizzato, a patto che chi lo riceve abbia garantite le medesime quattro libertà (e dunque possa a sua volta usare, analizzare, modifica e condividere l'applicazione senza nessun vincolo).</p>
<p><strong>Analizza</strong> il software, per capire in che modo gestisce files e comunicazioni, i suoi algoritmi interni, e vedere cosa esattamente fa durante la sua esecuzione. Per garantire questo diritto è necessario che chi ottiene una copia del programma abbia accesso anche al suo codice sorgente.</p>
<p><strong>Modifica</strong> il software per adattarlo alle tue esigenze o integrarlo con altri sistemi e piattaforme. Anche questo diritto implica l'accesso al codice sorgente, e a tutte le componenti necessarie a ricostruire l'applicazione.</p>
<p><strong>Condividi</strong> il software, con chi vuoi e come vuoi, legalmente e senza dover chiedere nessuna autorizzazione. Naturalmente la persona a cui trasferisci copia del programma ottiene le stesse quattro libertà, e potrà continuare ad usarlo, analizzarlo, modificarlo e condividerlo.</p>

<a href="/stickers" class="cta-button">Chiedici di inviarti, gratuitamente, gli adesivi col logo del software libero!</a>

<p>Per saperne di più sul software libero ed in particolare su Linux, consulta l'elenco di <a href="/faq">Domande Frequenti</a>.</p>
