---
layout: page
title: 1%
description: L'1% del tuo fatturato annuo ai progetti open source con cui fatturi.
image: /unopercento/default-social.png
---

<div class="row">
    <div class="col-2">
        <img class="float-left img-fluid" src="1percento.png">
    </div>

    <div class="col-10 text-right">
        <p>
            <strong>
                Tu, che vendi siti web costruiti su Wordpress, Drupal, Prestashop...<br>
                Tu, che implementi applicazioni PHP, Python, Javascript...<br>
                Tu, che offri hosting sul tuo server Linux, Apache, MySQL...
            </strong>
        </p>

        <h2>
            Tu hai bisogno del software libero.<br>
            Il software libero ha bisogno di te.
        </h2>
    </div>
</div>

<hr>

<p>
    Il software libero e opensource ha abilitato decine di migliaia di persone a fornire sul mercato prodotti e servizi in tempi brevi e costi ridotti. Permette a molti, compreso probabilmente te, di costruire la propria attività professionale sulle sole proprie competenze.<br>
    Ma il software, come ben sai, non cresce sugli alberi. Ed anche il software opensource, benché spesso distribuito gratuitamente, ha un costo.<br>
    Il sostegno economico ai progetti opensource di uso quotidiano, e alle iniziative ad essi correlate, non è solo un gesto morale ma un modo per garantire che la tua attività possa continuare a crescere in futuro. Senza dipendere da costose licenze, imposizioni e restrizioni, ambienti di sviluppo chiusi e vincolanti, o dalla volontà di altri.
</p>

<img class="float-right" src="fattura_1percento.png">

<h2>1: Raccogli</h2>

<p>
    Nelle fatture che emetti aggiungi l'<strong>1% del totale</strong> indicando, come causale, <i>"Contributo opensource - wwww.linux.it/unopercento"</i>. In questo modo i tuoi clienti saranno a loro volta resi consapevoli del fatto che il software
    che hai usato per portare a termine il lavoro, benché opensource, non è gratis in assoluto ma ha bisogno di sostegno e supporto per poter continuare a goderne.
</p>

<p>
    Se lo ritieni più opportuno puoi anche non esplicitare la quota in fattura, o definirne una fissa o variabile a tuo piacimento; l'importante è raccogliere, in modo equo e responsabile, fondi da destinare allo sviluppo, all'aggiornamento, alla
    manutenzione ed al perfezionamento dei tuoi stessi strumenti produttivi.
</p>

<h2>2: Distribuisci</h2>

<p>
    Una volta al mese, una volta all'anno, una volta per ogni fattura: scegli tu ogni come e quando distribuire i fondi raccolti. Di seguito, dei rapidi riferimenti per donare ai progetti di sviluppo più importanti e popolari.
</p>

<div class="card-deck mb-4">
    <div class="card text-dark bg-warning">
        <div class="card-body">
            <h5 class="card-title"><a rel="nofollow" href="http://wordpressfoundation.org/donate/">Wordpress Foundation</a></h5>
            <p class="card-text">La fondazione a sostegno di Wordpress, popolare CMS per il web.</p>
        </div>
    </div>
    <div class="card text-dark bg-warning">
        <div class="card-body">
            <h5 class="card-title"><a rel="nofollow" href="https://association.drupal.org/donate">Drupal Association</a></h5>
            <p class="card-text">Associazione internazionale a sostegno di Drupal.</p>
        </div>
    </div>
    <div class="card text-dark bg-warning">
        <div class="card-body">
            <h5 class="card-title"><a rel="nofollow" href="http://opensourcematters.org/joomla/support-joomla.html">OpenSourceMatters</a></h5>
            <p class="card-text">Associazione che raccoglie donazioni per il CMS Joomla!</p>
        </div>
    </div>
</div>
<div class="card-deck mb-4">
    <div class="card text-dark bg-warning">
        <div class="card-body">
            <h5 class="card-title"><a rel="nofollow" href="https://openjsf.org/javascriptlandia/">OpenJS Foundation</a></h5>
            <p class="card-text">Fondazione cui fanno capo importanti progetti come jQuery e Grunt.</p>
        </div>
    </div>
    <div class="card text-dark bg-warning">
        <div class="card-body">
            <h5 class="card-title"><a rel="nofollow" href="https://www.python.org/psf/donations/">Python Software Foundation</a></h5>
            <p class="card-text">L'organizzazione da cui dipende il linguaggio Python.</p>
        </div>
    </div>
    <div class="card text-dark bg-warning">
        <div class="card-body">
            <h5 class="card-title"><a rel="nofollow" href="https://www.djangoproject.com/fundraising/">Django</a></h5>
            <p class="card-text">Il principale framework di sviluppo web per Python.</p>
        </div>
    </div>
</div>
<div class="card-deck mb-4">
    <div class="card text-dark bg-warning">
        <div class="card-body">
            <h5 class="card-title"><a rel="nofollow" href="https://www.debian.org/donations">Debian</a></h5>
            <p class="card-text">Una delle distribuzioni più amate e più usate in ambito server.</p>
        </div>
    </div>
    <div class="card text-dark bg-warning">
        <div class="card-body">
            <h5 class="card-title"><a rel="nofollow" href="https://www.apache.org/foundation/contributing.html">Apache Foundation</a></h5>
            <p class="card-text">L'incubatore di tanti progetti vitali, tra cui il ben noto web server Apache.</p>
        </div>
    </div>
    <div class="card text-dark bg-warning">
        <div class="card-body">
            <h5 class="card-title"><a rel="nofollow" href="http://www.openbsdfoundation.org/index.html">The OpenBSD Foundation</a></h5>
            <p class="card-text">Collettore per le donazioni destinate a OpenSSH, LibreSSL e altri progetti legati alla sicurezza.</p>
        </div>
    </div>
</div>
<div class="card-deck mb-4">
    <div class="card text-dark bg-warning">
        <div class="card-body">
            <h5 class="card-title"><a rel="nofollow" href="https://mariadb.org/donate/">MariaDB Foundation</a></h5>
            <p class="card-text">Il riferimento per il database MariaDB, erede di MySQL.</p>
        </div>
    </div>
    <div class="card text-dark bg-warning">
        <div class="card-body">
            <h5 class="card-title"><a rel="nofollow" href="http://www.libreoffice.org/donate/">The Document Foundation</a></h5>
            <p class="card-text">La fondazione da cui dipende lo sviluppo di LibreOffice.</p>
        </div>
    </div>
    <div class="card text-dark bg-warning">
        <div class="card-body">
            <h5 class="card-title"><a rel="nofollow" href="https://donate.mozilla.org/">Mozilla Foundation</a></h5>
            <p class="card-text">Sviluppa e distribuisce Firefox.</p>
        </div>
    </div>
</div>

<p>E non dimenticare i tanti moduli e plugins dei diversi CMS e frameworks che usi, ciascuno dei quali spesso ha una propria pagina per le donazioni!</p>

<h2 id="investi">3: Investi</h2>

<p>Ci sono anche altri modi per investire i fondi che raccogli, destinati alla promozione locale del software libero.</p>

<ul>
    <li>sponsorizza il prossimo <a href="http://www.linuxday.it/">Linux Day</a> della tua città</li>
    <li><a href="http://www.ils.org/sponsorizzazioni">diventa sponsor di Italian Linux Society</a>: gran parte dei soldi raccolti con le quote di iscrizione è destinata a <a href="http://donazioni.linux.it/">progetti di sviluppo legati al mondo della scuola</a></li>
</ul>

<div class="card mb-4">
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-3">
                <a href="1percento.pdf"><img src="volantino_1percento.png"></a>
            </div>
            <div class="col-9">
                <p class="lead">Aiutaci a promuovere questa iniziativa: scarica il volantino, stampalo ed appendilo nella bacheca del co-working in cui lavori!</p>
            </div>
        </div>
    </div>
</div>

<h2>FAQ</h2>

<p><strong>Devo necessariamente esplicitare la quota di "contributo opensource" nelle mie fatture?</strong></p>
<p>Assolutamente no: quello è un consiglio che diamo ma non esistono vincoli o regole per aderire a questa iniziativa informale, né sulla forma né sull'entità della quota. Puoi anche semplicemente aggiungere una nota in calce al documento, tipo "L'1% del guadagno verrà devoluto a progetti opensource", oppure non scrivere nulla. Indicare chiaramente il contributo nelle proprie fatture aiuta a comunicare ai propri clienti il "costo" del software libero, ma ha un valore prettamente divulgativo e simbolico.</p>

<p><strong>Posso scaricare queste donazioni dalle tasse?</strong></p>
<p>Gran parte delle organizzazioni sopra linkate hanno sede fuori dall'Italia, alcune sono almeno in Europa ed altre no, molte delle suddette pagine contengono istruzioni sulla possibilità o meno di avere un documento valido a fini fiscali. <a href="http://www.ils.org/sponsorizzazioni">Italian Linux Society offre la possibilità di una sponsorizzazione annuale</a> per la quale viene emessa una fattura, scaricabile come costo per la comunicazione.</p>
