---
layout: cal_base
title: About
---

<h1>Cos’è questo?</h1>

<p>Italian Linux Society vuole aiutare gli sviluppatori italiani a scegliere una licenza opensource per il loro codice sorgente.</p>
<p>Se già sai cosa stai facendo ed hai una licenza che preferisci usare, va benissimo! Non siamo qui per farti cambiare idea. Se invece sei confuso dal gran numero di licenze opensource disponibili, forse possiamo aiutarti.</p>

<h2 id="faq">FAQ</h2>

<h3 id="se-non-scelgo-una-licenza-la-mia-opera-è-in-pubblico-dominio">Se non scelgo una licenza, la mia opera è in pubblico dominio?</h3>

<p>Assolutamente no! Qualunque cosa tu produca è, per legge, soggetta a copyright. Che tu lo voglia o no. E, finché non espliciti il contrario, nessuno ha facoltà di usarla, copiarla o redistribuirla. Proprio per questo è importante scegliere una licenza: quello è il contratto con cui tu - detentore del copyright - concedi dei permessi a tutti gli altri. Questo vale anche per le opere in pubblico dominio, che devono essere espressamente distribuite con una licenza opportuna (le più usate sono <a href="../licenses/cc0-1.0/">CC0-1.0</a> e <a href="../licenses/unlicense">Unlicense</a>).</p>

<h3 id="come-posso-tutelarmi-dagli-abusi">Come posso tutelarmi dagli abusi?</h3>

<p>La licenza è un contratto, ed in quanto tale ha validità legale. Chi non lo rispetta, violando qualcuna delle condizioni imposte o ignorando le limitazioni, può essere avvertito con una lettera dell’avvocato e citato in tribunale. Per far questo, però, è opportuno essere rigorosi nell’applicazione della licenza e seguire scrupolosamente le indicazioni date: per ciascuna licenza <a href="../licenses/">presentata in questo sito</a>, nella sidebar di destra vengono fornite brevi istruzioni su come comportarsi caso per caso.</p>

<h3 id="le-condizioni-della-licenza-si-applicano-anche-a-me">Le condizioni della licenza si applicano anche a me?</h3>

<p>No: tu, in qualità di titolare del copyright dell’opera, puoi farne ciò che vuoi. Incluso concederla a qualcun’altro con una licenza diversa. Se ad esempio sei un musicista e pubblichi un brano musicale in <a href="../licenses/cc-by-sa-4.0/">CC-BY-SA-4.0</a> quella licenza si applica per default a tutti, ma se lo vuoi puoi stipulare un diverso contratto con un altro (che magari vuole usare il brano in un’altra opera che non debba essere rilasciata con la medesima licenza), che valga solo per lui.</p>
<p>Bada però che questo si applica solo a ciò che hai fatto tu: se altri contribuiscono all’opera ciascuno di essi è il solo titolare del copyright per quella specifica parte e può per essa decidere.</p>

<h2 id="altre-risorse">Altre risorse</h2>

<ul class="bullets">
    <li>FAQ di Open Source Initiative su <a rel="nofollow" href="https://opensource.org/faq#which-license">Quale Licenza Open Source Dovrei Scegliere per Rilasciare il mio Software?</a> (in inglese)</li>
    <li>Consigli di Free Software Foundation su come <a rel="nofollow" href="https://www.gnu.org/licenses/license-recommendations.it.html">scegliere una licenza</a> (in inglese)</li>
    <li><a rel="nofollow" href="https://opensource.guide/legal/">Il Lato Legale dell’Open Source</a>, una Guida Open Source sulle licenze ed i relativi problemi (in inglese)</li>
    <li><a href="/opensource/howto">Dritte e consigli per mantenere un progetto opensource</a> (in italiano)</li>
</ul>

<h2 id="disclaimer">Disclaimer</h2>

<p>Non siamo avvocati. Quantomeno, non lo è la maggior parte di noi. Non è l’obiettivo di questo sito fornire consigli legali. L’obiettivo di questo sito è fornire un punto di partenza per aiutarti a fare una scelta consapevole sulle più popolari licenze opensource. Se hai domande sulla licenza più giusta per il tuo codice o altri dubbi legali ad essa correlata, sta a te fare altre ricerche o consultare un professionista.</p>
