---
layout: page
title: TODO
description: Idee e spunti per contribuire attivamente alla cultura libera
---

<h1 class="mb-3">{{ page.title }}</h1>

<p>Vuoi attivamente contribuire alla community delle libertà digitali? Esistono una infinità di modi, molti dei quali non prevedono alcuna competenza tecnica specifica ma solo un poco di ingegno.<br>
Per una lista di progetti periodicamente aggiornati (e pubblicati sulla <a href="https://www.ils.org/">newsletter di Italian Linux Society</a>) dai un occhiata poco più sotto.</p>

<hr>

Sei alla ricerca di una guida per alternative OpenSource? Fai riferimento al nostro <a href="https://github.com/ItalianLinuxSociety/Vademecum/blob/master/Versione_di_Stampa.pdf" target="_blank">Vademecum</a> che puoi anche <a href="https://www.linux.it/stickers" target="_blank">richiedere in formato cartaceo</a> (fino a esaurimento scorte). Aiutaci a migliorarlo e estenderlo!<br>
Per una versione online ti consigliamo di utilizzare il portale <a href="https://www.lealternative.net/" target="_blank">LeAtlernative</a>.

<hr>

<p>Vuoi organizzare un <b>evento dal vivo</b> o vuoi sfruttare quei minuti di buco nella tua giornata per contribuire a un progetto FOSS?</p>

<a class="cta-button" href="/todo/attivita/">Scopri le attività per contribuire a un progetto senza sapere programmare!</a>

<hr>

<div class="row">
    {% assign sorted_todos = site.todos | sort | reverse %}
    {% for todo in sorted_todos %}
        <div class="col-md-6">
            {% include todo.html todo=todo %}
        </div>
    {% endfor %}
</div>
