---
title: LinuxSi
---

<a href="https://linuxsi.com/">LinuxSi</a> è l'indice dei negozi di informatica che vendono PC con Linux pre-installato, o offrono assistenza su di esso. Dacci una mano a popolarlo, contattando i negozi della tua zona e <a href="https://linuxsi.com/partecipa/">mandandoci una segnalazione</a>!
