---
title: KartaView
---

<a href="https://kartaview.org/">KartaView</a> è un progetto collettivo per raccogliere immagini delle strade. Come nel più popolare Google Street View, ma qui le foto vengono usate (in modo più o meno automatico) per migliorare <a href="https://www.openstreetmap.org/">OpenStreetMap</a>, la mappa libera.
